@model IEnumerable<OnlineShopping.Models.ViewModels.Cart.CartVM>

@{
    int count = 1;
}
<form class="paypalform" action="https://www.sanbox.paypal.com/us/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="uploaad" value="1">
    <input type="hidden" name="business" value="you@youremail.com">

    @foreach (var iten in Model)
    {
        <input type="hidden" name="item_name_@count" value="@iten.ProductName">
        <input type="hidden" name="amount_@count" value="@iten.Price">
        <input type="hidden" name="quantity_@count" value="@iten.Quantity">
        count++;
    }

    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
