@model IEnumerable<OnlineShopping.Models.ViewModels.Shop.CategoryVM>
 
        <div class="sidebar_title">
            <h5>Categories</h5>
        </div>
        <ul>
            @foreach (var item in Model)
            {
                <li class=" "><a href="/shop/category/@item.Slug.ToLower()"><span class="font-weight-bold">@item.Name </span></a></li>
            }
        </ul>
     
